# IST769 Final Exam

**INSTRUCTIONS FOR HIGHEST GRADE POSSIBLE**

Unless you are explicitly instructed otherwise, answer each of the following using PySpark / Spark SQL. For any queries you write make sure to include a `printSchema()` and sample(s) of the output which clearly demonstrates the code is correct.

In [1]:
# YOUR NAME ========> Harmish Kamlesh Doshi  
# YOUR SU EMAIL ====>  208610770

In [2]:
! sudo cp /home/jovyan/work/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar /usr/local/spark/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar

In [3]:
!pip install -q cassandra-driver

In [4]:
#Importing all the required libraries.
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import * 
from pyspark.sql.types import *
from cassandra.cluster import Cluster
from pyspark.sql.functions import array_contains

### Question 1

In the cell below configure a spark session that is configured to connect to `mongodb`, `minio`, `cassandra`, '`elasticsearch` and `neo4j`.

In [5]:
#1 Spark session

#Credentials:
#Master Password:
passwd = "SU2orange!"

#MinIO:
minio_user = "minio"
##Bucket Details:
s3_bucket = "enrollments"
s3_server = "http://minio:9000"
s3_access_key = minio_user
s3_secret_key = passwd

#Mongo:
mongo_pass = "mongopw"
mongo_user = "admin"
mongo_uri = f"mongodb://{mongo_user}:{mongo_pass}@mongo:27017/admin?authSource=admin"

#Elastic Search and Kibana Credentials:
kibana_user = 'elastic'
elastic_host = "elasticsearch"
elastic_port = "9200"

#Cassandra:
cassandra_host = "cassandra"

#Neo4j:
bolt_url = "bolt://neo4j:7687"


#Installing all required jars
jars = [
    "org.apache.hadoop:hadoop-aws:3.1.2" #MinIO Jar
    ,"org.mongodb.spark:mongo-spark-connector_2.12:3.0.1" #Mongo jar
    ,"com.datastax.spark:spark-cassandra-connector-assembly_2.12:3.1.0" #Cassandra Jar
    ,"org.elasticsearch:elasticsearch-spark-20_2.12:7.15.0" #Elastic search Jar
    ]


#Configuring Spark Session and building APP:
spark = SparkSession.builder \
    .master("local") \
    .appName('jupyter-pyspark') \
        .config("spark.jars.packages",",".join(jars) )\
        .config("spark.hadoop.fs.s3a.endpoint", s3_server ) \
        .config("spark.hadoop.fs.s3a.access.key", s3_access_key) \
        .config("spark.hadoop.fs.s3a.secret.key", s3_secret_key) \
        .config("spark.hadoop.fs.s3a.fast.upload", True) \
        .config("spark.hadoop.fs.s3a.path.style.access", True) \
        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
        .config("spark.mongodb.input.uri", mongo_uri) \
        .config("spark.mongodb.output.uri", mongo_uri) \
        .config("spark.cassandra.connection.host", cassandra_host) \
        .config("spark.es.nodes", elastic_host) \
        .config("spark.es.port",elastic_port) \
    .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR") # Keeps the noise down!!!

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

:: loading settings :: url = jar:file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/jovyan/.ivy2/cache
The jars for the packages stored in: /home/jovyan/.ivy2/jars
org.apache.hadoop#hadoop-aws added as a dependency
org.mongodb.spark#mongo-spark-connector_2.12 added as a dependency
com.datastax.spark#spark-cassandra-connector-assembly_2.12 added as a dependency
org.elasticsearch#elasticsearch-spark-20_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-d976ec0f-c43e-4997-9fb3-f617a40925df;1.0
	confs: [default]
	found org.apache.hadoop#hadoop-aws;3.1.2 in central
	found com.amazonaws#aws-java-sdk-bundle;1.11.271 in central
	found org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 in central
	found org.mongodb#mongodb-driver-sync;4.0.5 in central
	found org.mongodb#bson;4.0.5 in central
	found org.mongodb#mongodb-driver-core;4.0.5 in central
	found com.datastax.spark#spark-cassandra-connector-assembly_2.12;3.1.0 in central
	found org.elasticsearch#elasticsearch-spark-20_2.12;7.15.0 in central
	found org.scala-lang#scala-reflect;2.12.8 in central
	found org.slf4j#slf4j-api;1.7.6 in central
	found commons-logging#commons-logging;1.1.1 in central
	found javax.xml.bind#jaxb-api;2.3.1 in central
	found com.google.protobuf#protobuf-java;2.5.0 in central
	found org.apache.spark#spark-yarn_2.12;2.4.4 in central
:: resolution report :: resolve 1215ms :: artifacts dl 11ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.11.271 from central in [default]
	com.datastax.spark#spark-cassandra-connector-assembly_2.12;3.1.0 from central in [default]
	com.google.protobuf#protobuf-java;2.5.0 from central in [default]
	commons-logging#commons-logging;1.1.1 from central in [default]
	javax.xml.bind#jaxb-api;2.3.1 from central in [default]
	org.apache.hadoop#hadoop-aws;3.1.2 from central in [default]
	org.apache.spark#spark-yarn_2.12;2.4.4 from central in [default]
	org.elasticsearch#elasticsearch-spark-20_2.12;7.15.0 from central in [default]
	org.mongodb#bson;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-core;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-sync;4.0.5 from central in [default]
	org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 from central in [default]
	org.scala-lang#scala-reflect;2.12.8 from central in [default]
	org.slf4j#slf4j-api;1.7.6 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   14  |   0   |   0   |   0   ||   8   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-d976ec0f-c43e-4997-9fb3-f617a40925df
	confs: [default]
	0 artifacts copied, 8 already retrieved (0kB/14ms)
24/04/27 00:21:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

### Question 2

Demonstrate you can read the process-oriented data `enrollments` and `sections` from `minio` using PySpark.

In [6]:
#2a enrollments
# Define the schema for enrollments data
enrollments = StructType([StructField("enrollments_term",IntegerType()),
                          StructField("course_enrollment",IntegerType()),
                          StructField("enrollments_course",StringType()),
                          StructField("enrollments_section",StringType()),
                          StructField("enrollments_student_id",StringType()),
                          StructField("enrollments_grade",StringType()),
                          StructField("enrollments_grade_points",FloatType())
                        ])

# Read enrollments data from CSV file on MinIO
enrollments_df = spark.read.csv(f"s3a://{s3_bucket}/enrollments.csv",schema = enrollments, sep = ",", header = True)
# Print schema and show sample records
enrollments_df.printSchema()
enrollments_df.show(5)
# Count the number of records in the enrollments DataFrame
enrollments_df.count()

root
 |-- enrollments_term: integer (nullable = true)
 |-- course_enrollment: integer (nullable = true)
 |-- enrollments_course: string (nullable = true)
 |-- enrollments_section: string (nullable = true)
 |-- enrollments_student_id: string (nullable = true)
 |-- enrollments_grade: string (nullable = true)
 |-- enrollments_grade_points: float (nullable = true)

+----------------+-----------------+------------------+-------------------+----------------------+-----------------+------------------------+
|enrollments_term|course_enrollment|enrollments_course|enrollments_section|enrollments_student_id|enrollments_grade|enrollments_grade_points|
+----------------+-----------------+------------------+-------------------+----------------------+-----------------+------------------------+
|            1221|                1|            IST659|               M001|           orenjouglad|                C|                     2.0|
|            1221|                2|            IST659|               M001|           billmelator|                A|                     4.0|
|            1221|                3|            IST659|               M001|            morrisless|                A|                     4.0|
|            1221|                4|            IST659|               M001|     amberwavesofgrain|               A-|                   3.667|
|            1221|                5|            IST659|               M001|              abbykuss|                A|                     4.0|
+----------------+-----------------+------------------+-------------------+----------------------+-----------------+------------------------+
only showing top 5 rows

743

In [7]:
#2b sections
# Define the schema for sections data
sections = StructType([StructField("sections_term",IntegerType()),
                        StructField("sections_course",StringType()),
                        StructField("section",StringType()),
                        StructField("sections_enrollment",IntegerType()),
                        StructField("sections_capacity",IntegerType())])
# Read sections data from CSV file on MinIO
sections_df = spark.read.csv(f"s3a://{s3_bucket}/sections.csv",schema = sections, sep = ",",header = True)
# Print schema and show sample records
sections_df.printSchema()
sections_df.show(5)
# Count the number of records in the enrollments DataFrame
sections_df.count()

root
 |-- sections_term: integer (nullable = true)
 |-- sections_course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- sections_enrollment: integer (nullable = true)
 |-- sections_capacity: integer (nullable = true)

+-------------+---------------+-------+-------------------+-----------------+
|sections_term|sections_course|section|sections_enrollment|sections_capacity|
+-------------+---------------+-------+-------------------+-----------------+
|         1221|         IST659|   M001|                 20|               20|
|         1221|         IST659|   M002|                 20|               20|
|         1221|         IST722|   M001|                 25|               28|
|         1221|         IST615|   M001|                 22|               28|
|         1221|         IST621|   M001|                 22|               24|
+-------------+---------------+-------+-------------------+-----------------+
only showing top 5 rows

34

### Question 3

Demonstrate you can read the reference-oriented data `terms`, `students`, `courses`, and `program` reference data from `MongoDb` using PySpark.

In [8]:
#3a terms 
# Read terms data from MongoDB collection
terms_df = spark.read.format("mongo").option("database","ischooldb").option("collection","terms").load()
# Rename columns for clarity
terms_df = terms_df.withColumnRenamed("name","term_name")\
                    .withColumnRenamed("code","term_code")
# Print schema and show sample records
terms_df.printSchema()
terms_df.show(5)
# Count the number of records in the terms DataFrame
terms_df.count()

root
 |-- _id: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- term_code: string (nullable = true)
 |-- term_name: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- year: integer (nullable = true)

+----+-------------+---------+-----------+--------+----+
| _id|academic_year|term_code|  term_name|semester|year|
+----+-------------+---------+-----------+--------+----+
|1221|    2021-2022|     1221|  Fall 2021|    Fall|2021|
|1222|    2021-2022|     1222|Spring 2022|  Spring|2022|
|1231|    2022-2023|     1231|  Fall 2022|    Fall|2022|
|1232|    2022-2023|     1232|Spring 2023|  Spring|2023|
+----+-------------+---------+-----------+--------+----+

4

In [9]:
#3b courses
courses_df = spark.read.format("mongo").option("database","ischooldb").option("collection","courses").load()
courses_df = courses_df.withColumnRenamed("name","course_name")\
                       .withColumnRenamed("code","course_code")\
                       .withColumnRenamed("credits","course_credits")\
                       .withColumnRenamed("description","course_description")
courses_df.printSchema()
courses_df.show(5)
courses_df.count()

root
 |-- _id: string (nullable = true)
 |-- course_code: string (nullable = true)
 |-- course_credits: integer (nullable = true)
 |-- course_description: string (nullable = true)
 |-- elective_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- course_name: string (nullable = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- required_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)

+------+-----------+--------------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+
|   _id|course_code|course_credits|  course_description|elective_in_programs| key_assignments|         course_name|prerequisites|required_in_programs|
+------+-----------+--------------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+
|IST659|     IST659|             3|Definition, devel...|                  []|       [project]|Data Administrati...|           []|            [IS, DS]|
|IST722|     IST722|             3|Introduction to c...|                [IS]| [project, exam]|    Data Warehousing|     [IST659]|                  []|
|IST769|     IST769|             3|Analyze relationa...|                [DS]| [project, exam]|Advanced Big Data...|     [IST659]|                  []|
|IST615|     IST615|             3|Cloud services cr...|                  []|[project, paper]|    Cloud Management|           []|            [IS, DS]|
|IST714|     IST714|             3|Advanced, lab-bas...|            [IS, DS]|       [project]|  Cloud Architecture|     [IST615]|                  []|
+------+-----------+--------------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+
only showing top 5 rows

9

In [10]:
#3c Programs
programs_df = spark.read.format("mongo").option("database","ischooldb").option("collection","programs").load()
programs_df = programs_df.withColumnRenamed("code","program_code")\
                         .withColumnRenamed("credits","program_credits")\
                        .withColumnRenamed("name","program_name")
programs_df.printSchema()
programs_df.show(5)
programs_df.count()

root
 |-- _id: string (nullable = true)
 |-- program_code: string (nullable = true)
 |-- program_credits: integer (nullable = true)
 |-- elective_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- program_name: string (nullable = true)
 |-- required_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- type: string (nullable = true)

+---+------------+---------------+--------------------+--------------------+--------------------+-----------+
|_id|program_code|program_credits|    elective_courses|        program_name|    required_courses|       type|
+---+------------+---------------+--------------------+--------------------+--------------------+-----------+
| IS|          IS|             36|[IST722, IST714, ...| Information Systems|[IST659, IST615, ...|    Masters|
| DS|          DS|             34|    [IST769, IST714]|        Data Science|[IST659, IST615, ...|    Masters|
|BDC|         BDC|              9|                null|Data Engineering ...|[IST659, IST722, ...|Certificate|
|CCC|         CCC|              9|                null|Cloud Computing C...|[IST621, IST615, ...|Certificate|
|MLC|         MLC|              9|                null|Machine Learning ...|[IST687, IST707, ...|Certificate|
+---+------------+---------------+--------------------+--------------------+--------------------+-----------+

5

In [11]:
#3d students
students_df = spark.read.format("mongo").option("database","ischooldb").option("collection","students").load()
students_df = students_df.withColumnRenamed("name","student_name")\
                         .withColumnRenamed("program","student_enrolled_program")
students_df.printSchema()
students_df.show(5)
students_df.count()

root
 |-- _id: string (nullable = true)
 |-- student_name: string (nullable = true)
 |-- student_enrolled_program: string (nullable = true)

+------------+-------------+------------------------+
|         _id| student_name|student_enrolled_program|
+------------+-------------+------------------------+
|    abbykuss|    Abby Kuss|                      DS|
|  adamantium|  Adam Antium|                      IS|
|   addieowse|   Addie Owse|                      IS|
|aidensomewun|Aiden Somewun|                      IS|
|aidenknowone|Aiden Knowone|                      DS|
+------------+-------------+------------------------+
only showing top 5 rows

235

### Question 4

Prepare the `section` data for loading into `cassandra` and `elasticsearch` with Spark or Spark SQL. Just PREPARE it do not LOAD it. Remember that we want this data to be as wide as possible, so include all relevant reference data. For example, the `section` data should include `term` attributes like `year`,  `academic year`, etc... and from `course`, attributes like `credits`, `name`, `prerequisites`, etc...

In [12]:
# 4 wide_sections
# Join sections, terms, and courses DataFrames to create wide_sections DataFrame
q4_sections_df = sections_df\
    .join(terms_df, how = 'inner', on  = sections_df.sections_term == terms_df._id)\
    .join(courses_df, how = 'inner',on = sections_df.sections_course == courses_df._id)\
    .select('sections_term',
             'year','semester','term_name','academic_year',
             'sections_course',
             'course_name','course_description','course_credits','prerequisites','required_in_programs','elective_in_programs','key_assignments',
             'section','sections_capacity','sections_enrollment'
           )\
    .orderBy(["year","sections_course","section"])
# Print schema and show sample records
q4_sections_df.printSchema()
q4_sections_df.show(1)
# Count the number of records in the wide_sections DataFrame
q4_sections_df.count()

root
 |-- sections_term: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- semester: string (nullable = true)
 |-- term_name: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- sections_course: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- course_description: string (nullable = true)
 |-- course_credits: integer (nullable = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- required_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- elective_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- section: string (nullable = true)
 |-- sections_capacity: integer (nullable = true)
 |-- sections_enrollment: integer (nullable = true)

+-------------+----+--------+---------+-------------+---------------+----------------+--------------------+--------------+-------------+--------------------+--------------------+----------------+-------+-----------------+-------------------+
|sections_term|year|semester|term_name|academic_year|sections_course|     course_name|  course_description|course_credits|prerequisites|required_in_programs|elective_in_programs| key_assignments|section|sections_capacity|sections_enrollment|
+-------------+----+--------+---------+-------------+---------------+----------------+--------------------+--------------+-------------+--------------------+--------------------+----------------+-------+-----------------+-------------------+
|         1221|2021|    Fall|Fall 2021|    2021-2022|         IST615|Cloud Management|Cloud services cr...|             3|           []|            [IS, DS]|                  []|[project, paper]|   M001|               28|                 22|
+-------------+----+--------+---------+-------------+---------------+----------------+--------------------+--------------+-------------+--------------------+--------------------+----------------+-------+-----------------+-------------------+
only showing top 1 row

34

### Question 5

Use the `cassandra-driver` example from class to write python code to connect to cassandra from within Jupyter and create a keyspace named `ischooldb`. Design a cassandra table called `sections` to store the data from question 4. Appropriate key design is important! Please explain your justification for key below your table definition. Provide clear evidence that your table was created by querying the empty table in spark and use `printSchema()` to show the schema.

In [13]:
#5 create cassandra table for wide_sections
#Creating Keyspace & Table in Cassandra.
with Cluster([cassandra_host]) as cluster:
    session = cluster.connect()
    session.execute("CREATE KEYSPACE IF NOT EXISTS ischooldb WITH replication={ 'class': 'SimpleStrategy', 'replication_factor' : 1 };")
    session.execute("CREATE TABLE IF NOT EXISTS ischooldb.sections (\
                    sections_term int,\
                    year int,\
                    semester varchar,\
                    term_name varchar,\
                    academic_year varchar,\
                    sections_course varchar,\
                    course_name varchar,\
                    course_description varchar,\
                    course_credits int,\
                    prerequisites LIST<text>,\
                    required_in_programs LIST<text>,\
                    elective_in_programs LIST<text>,\
                    key_assignments LIST<text>,\
                    section varchar,\
                    sections_capacity int,\
                    sections_enrollment int,\
                    primary key ((year),semester,sections_course));")
    
q5_sections_df = spark.read.format("org.apache.spark.sql.cassandra")\
    .options(table = "sections",keyspace = "ischooldb")\
    .load()

q5_sections_df.printSchema()
q5_sections_df.show(1)

root
 |-- year: integer (nullable = false)
 |-- semester: string (nullable = true)
 |-- sections_course: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- course_credits: integer (nullable = true)
 |-- course_description: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- elective_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- required_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- section: string (nullable = true)
 |-- sections_capacity: integer (nullable = true)
 |-- sections_enrollment: integer (nullable = true)
 |-- sections_term: integer (nullable = true)
 |-- term_name: string (nullable = true)

+----+--------+---------------+-------------+--------------+--------------------+----------------+--------------------+----------------+-------------+--------------------+-------+-----------------+-------------------+-------------+---------+
|year|semester|sections_course|academic_year|course_credits|  course_description|     course_name|elective_in_programs| key_assignments|prerequisites|required_in_programs|section|sections_capacity|sections_enrollment|sections_term|term_name|
+----+--------+---------------+-------------+--------------+--------------------+----------------+--------------------+----------------+-------------+--------------------+-------+-----------------+-------------------+-------------+---------+
|2022|    Fall|         IST615|    2022-2023|             3|Cloud services cr...|Cloud Management|                  []|[project, paper]|           []|            [IS, DS]|   M001|               24|                 21|         1231|Fall 2022|
+----+--------+---------------+-------------+--------------+--------------------+----------------+--------------------+----------------+-------------+--------------------+-------+-----------------+-------------------+-------------+---------+
only showing top 1 row

**Partition Key (year):** Using the year as the partition key allows for data distribution across different nodes based on the year, which can help distribute the workload evenly and improve query performance.
**Clustering Columns (semester, sections_course):** Clustering columns define the uniqueness of each row within a partition. In this case, combining semester and sections_course ensures that each row within a year partition is unique. It also allows for efficient retrieval of data within a specific year by leveraging the clustering order.

### Question 6

Load the data frame you created in question 4 into the `cassandra` table you created in question 5. Demonstrate the data is in the table by querying back it with PySpark. Make sure you can run the code multiple times and each time it replaces the existing data.

In [14]:
#6 load wide_sections into cassandra
# Writing wide sections DataFrame to Cassandra
q4_sections_df.write.format("org.apache.spark.sql.cassandra")\
  .mode("Append")\
  .option("table", "sections")\
  .option("keyspace","ischooldb")\
  .save()

# #Reading back the data from cassandra to verify data is loaded correctly.
q5_sections_df = spark.read.format("org.apache.spark.sql.cassandra")\
    .options(table = "sections",keyspace = "ischooldb")\
    .load()

q5_sections_df.printSchema()
q5_sections_df.show(1)

root
 |-- year: integer (nullable = false)
 |-- semester: string (nullable = true)
 |-- sections_course: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- course_credits: integer (nullable = true)
 |-- course_description: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- elective_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- required_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- section: string (nullable = true)
 |-- sections_capacity: integer (nullable = true)
 |-- sections_enrollment: integer (nullable = true)
 |-- sections_term: integer (nullable = true)
 |-- term_name: string (nullable = true)

+----+--------+---------------+-------------+--------------+--------------------+----------------+--------------------+----------------+-------------+--------------------+-------+-----------------+-------------------+-------------+---------+
|year|semester|sections_course|academic_year|course_credits|  course_description|     course_name|elective_in_programs| key_assignments|prerequisites|required_in_programs|section|sections_capacity|sections_enrollment|sections_term|term_name|
+----+--------+---------------+-------------+--------------+--------------------+----------------+--------------------+----------------+-------------+--------------------+-------+-----------------+-------------------+-------------+---------+
|2021|    Fall|         IST615|    2021-2022|             3|Cloud services cr...|Cloud Management|                  []|[project, paper]|           []|            [IS, DS]|   M001|               28|                 22|         1221|Fall 2021|
+----+--------+---------------+-------------+--------------+--------------------+----------------+--------------------+----------------+-------------+--------------------+-------+-----------------+-------------------+-------------+---------+
only showing top 1 row

### Question 7

Since we did not learn how to create a custom elasticsearch mapping, before you can load the data into `elasticsearch` you will need to flatten the nested data. For example, `course_is_elective_in_programs` should generate 2 columns `course_is_elective_for_IS` and `course_is_elective_for_DS`. You'll need to repeat this step for `course_is_required_in_programs`. Omit the `course_prerequisites` and `course_key_assignments` column.

In [15]:
# Flatten nested data and derive new columns for Elasticsearch indexing.
# We are checking if the course is elective for Information Systems (IS) or Data Science (DS) programs based on the presence of these programs in the 'elective_in_programs' column.
# If the program is found, we label the course as 'yes' for the respective program; otherwise, we label it as 'no'.
q7_sections_flatten = q4_sections_df.withColumn("course_is_elective_for_IS", 
                                                when(array_contains(q4_sections_df.elective_in_programs, "IS"), 'yes').otherwise("no")) \
                                    .withColumn("course_is_elective_for_DS", 
                                                when(array_contains(q4_sections_df.elective_in_programs, "DS"), 'yes').otherwise("no")) \
                                    .withColumn("course_is_required_for_IS", 
                                                when(array_contains(q4_sections_df.required_in_programs, "IS"), 'yes').otherwise("no")) \
                                    .withColumn("course_is_required_for_DS", 
                                                when(array_contains(q4_sections_df.required_in_programs, "DS"), 'yes').otherwise("no")) \
                                    .drop("prerequisites", "elective_in_programs", "required_in_programs","key_assignments")

q7_sections_flatten = q7_sections_flatten.dropDuplicates() #Just to drop any duplicate values.
q7_sections_flatten.printSchema()
q7_sections_flatten.show(1)
q7_sections_flatten.count()

root
 |-- sections_term: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- semester: string (nullable = true)
 |-- term_name: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- sections_course: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- course_description: string (nullable = true)
 |-- course_credits: integer (nullable = true)
 |-- section: string (nullable = true)
 |-- sections_capacity: integer (nullable = true)
 |-- sections_enrollment: integer (nullable = true)
 |-- course_is_elective_for_IS: string (nullable = false)
 |-- course_is_elective_for_DS: string (nullable = false)
 |-- course_is_required_for_IS: string (nullable = false)
 |-- course_is_required_for_DS: string (nullable = false)

+-------------+----+--------+---------+-------------+---------------+----------------+--------------------+--------------+-------+-----------------+-------------------+-------------------------+-------------------------+-------------------------+-------------------------+
|sections_term|year|semester|term_name|academic_year|sections_course|     course_name|  course_description|course_credits|section|sections_capacity|sections_enrollment|course_is_elective_for_IS|course_is_elective_for_DS|course_is_required_for_IS|course_is_required_for_DS|
+-------------+----+--------+---------+-------------+---------------+----------------+--------------------+--------------+-------+-----------------+-------------------+-------------------------+-------------------------+-------------------------+-------------------------+
|         1221|2021|    Fall|Fall 2021|    2021-2022|         IST615|Cloud Management|Cloud services cr...|             3|   M001|               28|                 22|                       no|                       no|                      yes|                      yes|
+-------------+----+--------+---------+-------------+---------------+----------------+--------------------+--------------+-------+-----------------+-------------------+-------------------------+-------------------------+-------------------------+-------------------------+
only showing top 1 row

34

### Question 8

Load the data frame you created in question 7 into `elasticsearch`, under the index `sections`.  Demonstrate the data is in the index by querying back it with PySpark.

In [16]:
#8 load wide_sections_flattened into elasticsearch

# Reading and Writing data from  dataframe and saving as an index in elastic search.
# Save the flattened wide sections dataframe to Elasticsearch
q7_sections_flatten.write.mode("Overwrite").format("es").save("sections/_doc")

# Reading back the data from Elasticsearch to verify data is loaded correctly
q8_sections_esdf = spark.read.format("es").load("sections/_doc")
q8_sections_esdf.printSchema()
q8_sections_esdf.show(1)
q8_sections_esdf.count()

root
 |-- academic_year: string (nullable = true)
 |-- capacity: long (nullable = true)
 |-- course: string (nullable = true)
 |-- course_credits: long (nullable = true)
 |-- course_description: string (nullable = true)
 |-- course_is_elective_for_DS: string (nullable = true)
 |-- course_is_elective_for_IS: string (nullable = true)
 |-- course_is_required_for_DS: string (nullable = true)
 |-- course_is_required_for_IS: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- credits: long (nullable = true)
 |-- enrollment: long (nullable = true)
 |-- section: string (nullable = true)
 |-- sections_capacity: long (nullable = true)
 |-- sections_course: string (nullable = true)
 |-- sections_enrollment: long (nullable = true)
 |-- sections_term: long (nullable = true)
 |-- semester: string (nullable = true)
 |-- term: long (nullable = true)
 |-- term_name: string (nullable = true)
 |-- year: long (nullable = true)

+-------------+--------+------+--------------+--------------------+-------------------------+-------------------------+-------------------------+-------------------------+----------------+-------+----------+-------+-----------------+---------------+-------------------+-------------+--------+----+---------+----+
|academic_year|capacity|course|course_credits|  course_description|course_is_elective_for_DS|course_is_elective_for_IS|course_is_required_for_DS|course_is_required_for_IS|     course_name|credits|enrollment|section|sections_capacity|sections_course|sections_enrollment|sections_term|semester|term|term_name|year|
+-------------+--------+------+--------------+--------------------+-------------------------+-------------------------+-------------------------+-------------------------+----------------+-------+----------+-------+-----------------+---------------+-------------------+-------------+--------+----+---------+----+
|    2021-2022|    null|  null|             3|Cloud services cr...|                       no|                       no|                      yes|                      yes|Cloud Management|   null|      null|   M001|               28|         IST615|                 22|         1221|    Fall|null|Fall 2021|2021|
+-------------+--------+------+--------------+--------------------+-------------------------+-------------------------+-------------------------+-------------------------+----------------+-------+----------+-------+-----------------+---------------+-------------------+-------------+--------+----+---------+----+
only showing top 1 row

34

### Question 9

Similar to question 4, prepare the `enrollments` for loading into `cassandra` and `elasticsearch` with Spark or Spark SQL. For this wide table we want to include the same reference data for `sections` but include the `student` attributes and the `program` data associated with the student.

In [17]:
#9 - enrollments
# Joining enrollment data with wide flattened sections, students, and programs dataframes to enrich enrollment information
# We perform an inner join on the enrollment term, course, and section to match with the respective section details.
# We then join the result with students and programs dataframes based on student ID and enrolled program ID, respectively.
# Selecting relevant columns to include in the final enrollment dataframe for Elasticsearch indexing.
q9_enrollments_df = enrollments_df.join(q7_sections_flatten, how = 'inner', on =(enrollments_df.enrollments_term == q7_sections_flatten.sections_term)&\
                                                (enrollments_df.enrollments_course == q7_sections_flatten.sections_course)&\
                                                (enrollments_df.enrollments_section == q7_sections_flatten.section))\
                .join(students_df,how = 'inner', on = enrollments_df.enrollments_student_id == students_df._id)\
                .join(programs_df,how = 'inner', on = students_df.student_enrolled_program == programs_df._id)\
                .select("academic_year",
                        "year",
                        "semester",
                        "term_name",
                        "enrollments_term",
                        "course_enrollment",
                        "enrollments_course",
                        "enrollments_section",
                        "course_name",
                        "course_description",
                        "course_credits",
                        "sections_capacity",
                        "sections_enrollment",
                        "course_is_elective_for_IS",
                        "course_is_elective_for_DS",
                        "course_is_required_for_IS",
                        "course_is_required_for_DS",
                        "enrollments_student_id",
                        "student_name",
                        "enrollments_grade",
                        "enrollments_grade_points",
                        "student_enrolled_program",
                        "program_name",
                        "type",
                        "program_credits",
                        "required_courses",
                        "elective_courses"
                        )
q9_enrollments_df.printSchema()
q9_enrollments_df.show(1)
q9_enrollments_df.count()

root
 |-- academic_year: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- semester: string (nullable = true)
 |-- term_name: string (nullable = true)
 |-- enrollments_term: integer (nullable = true)
 |-- course_enrollment: integer (nullable = true)
 |-- enrollments_course: string (nullable = true)
 |-- enrollments_section: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- course_description: string (nullable = true)
 |-- course_credits: integer (nullable = true)
 |-- sections_capacity: integer (nullable = true)
 |-- sections_enrollment: integer (nullable = true)
 |-- course_is_elective_for_IS: string (nullable = false)
 |-- course_is_elective_for_DS: string (nullable = false)
 |-- course_is_required_for_IS: string (nullable = false)
 |-- course_is_required_for_DS: string (nullable = false)
 |-- enrollments_student_id: string (nullable = true)
 |-- student_name: string (nullable = true)
 |-- enrollments_grade: string (nullable = true)
 |-- enrollments_grade_points: float (nullable = true)
 |-- student_enrolled_program: string (nullable = true)
 |-- program_name: string (nullable = true)
 |-- type: string (nullable = true)
 |-- program_credits: integer (nullable = true)
 |-- required_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- elective_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)

+-------------+----+--------+---------+----------------+-----------------+------------------+-------------------+----------------+--------------------+--------------+-----------------+-------------------+-------------------------+-------------------------+-------------------------+-------------------------+----------------------+------------+-----------------+------------------------+------------------------+------------+-------+---------------+--------------------+----------------+
|academic_year|year|semester|term_name|enrollments_term|course_enrollment|enrollments_course|enrollments_section|     course_name|  course_description|course_credits|sections_capacity|sections_enrollment|course_is_elective_for_IS|course_is_elective_for_DS|course_is_required_for_IS|course_is_required_for_DS|enrollments_student_id|student_name|enrollments_grade|enrollments_grade_points|student_enrolled_program|program_name|   type|program_credits|    required_courses|elective_courses|
+-------------+----+--------+---------+----------------+-----------------+------------------+-------------------+----------------+--------------------+--------------+-----------------+-------------------+-------------------------+-------------------------+-------------------------+-------------------------+----------------------+------------+-----------------+------------------------+------------------------+------------+-------+---------------+--------------------+----------------+
|    2022-2023|2022|    Fall|Fall 2022|            1231|               12|            IST615|               M001|Cloud Management|Cloud services cr...|             3|               24|                 21|                       no|                       no|                      yes|                      yes|            artiechoke| Artie Choke|                A|                     4.0|                      DS|Data Science|Masters|             34|[IST659, IST615, ...|[IST769, IST714]|
+-------------+----+--------+---------+----------------+-----------------+------------------+-------------------+----------------+--------------------+--------------+-----------------+-------------------+-------------------------+-------------------------+-------------------------+-------------------------+----------------------+------------+-----------------+------------------------+------------------------+------------+-------+---------------+--------------------+----------------+
only showing top 1 row

743

### Question 10

Load the data frame you created in question 8 into `elasticsearch`, under the index `enrollments`. This time, just Omit all array types to make the problem simpler (`elective_courses`, `key_assignments`, `course_prerequisites`, etc...)

In [18]:
#10 wide_enrollments to elastic search
q9_enrollments_df1 = q9_enrollments_df.drop("required_courses","elective_courses")
#Reading and Writing data from the directory to dataframe.
q9_enrollments_df1.write.mode("Overwrite").format("es").save("enrollments/_doc")

q10_enrollments_df = spark.read.format("es").load("enrollments/_doc")
q10_enrollments_df.printSchema()
q10_enrollments_df.show(1)
q10_enrollments_df.count()

root
 |-- academic_year: string (nullable = true)
 |-- course_credits: long (nullable = true)
 |-- course_description: string (nullable = true)
 |-- course_enrollment: long (nullable = true)
 |-- course_is_elective_for_DS: string (nullable = true)
 |-- course_is_elective_for_IS: string (nullable = true)
 |-- course_is_required_for_DS: string (nullable = true)
 |-- course_is_required_for_IS: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- enrollments_course: string (nullable = true)
 |-- enrollments_grade: string (nullable = true)
 |-- enrollments_grade_points: float (nullable = true)
 |-- enrollments_section: string (nullable = true)
 |-- enrollments_student_id: string (nullable = true)
 |-- enrollments_term: long (nullable = true)
 |-- program_credits: long (nullable = true)
 |-- program_name: string (nullable = true)
 |-- sections_capacity: long (nullable = true)
 |-- sections_enrollment: long (nullable = true)
 |-- semester: string (nullable = true)
 |-- student_enrolled_program: string (nullable = true)
 |-- student_name: string (nullable = true)
 |-- term_name: string (nullable = true)
 |-- type: string (nullable = true)
 |-- year: long (nullable = true)

+-------------+--------------+--------------------+-----------------+-------------------------+-------------------------+-------------------------+-------------------------+----------------+------------------+-----------------+------------------------+-------------------+----------------------+----------------+---------------+------------+-----------------+-------------------+--------+------------------------+------------+---------+-------+----+
|academic_year|course_credits|  course_description|course_enrollment|course_is_elective_for_DS|course_is_elective_for_IS|course_is_required_for_DS|course_is_required_for_IS|     course_name|enrollments_course|enrollments_grade|enrollments_grade_points|enrollments_section|enrollments_student_id|enrollments_term|program_credits|program_name|sections_capacity|sections_enrollment|semester|student_enrolled_program|student_name|term_name|   type|year|
+-------------+--------------+--------------------+-----------------+-------------------------+-------------------------+-------------------------+-------------------------+----------------+------------------+-----------------+------------------------+-------------------+----------------------+----------------+---------------+------------+-----------------+-------------------+--------+------------------------+------------+---------+-------+----+
|    2022-2023|             3|Cloud services cr...|               12|                       no|                       no|                      yes|                      yes|Cloud Management|            IST615|                A|                     4.0|               M001|            artiechoke|            1231|             34|Data Science|               24|                 21|    Fall|                      DS| Artie Choke|Fall 2022|Masters|2022|
+-------------+--------------+--------------------+-----------------+-------------------------+-------------------------+-------------------------+-------------------------+----------------+------------------+-----------------+------------------------+-------------------+----------------------+----------------+---------------+------------+-----------------+-------------------+--------+------------------------+------------+---------+-------+----+
only showing top 1 row

743

### Question 11

Write spark to clear the `neo4j` database of all nodes and relationships.

In [19]:
#11 reset neo4j database 
query = """
MATCH (n)
DETACH DELETE (n);
"""
df = spark.createDataFrame(data = [{'row':1}])
df.write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
  .option("url", bolt_url) \
  .option("query",query) \
  .save()

### Question 12

Load the `courses` and `program` data into `neo4j` as nodes. Exclude the `requirements`, `electives` and `prerequisites` from the node attributes. Demonstrate the data in `neo4j` by querying back it using one or more Cypher queries. NOTE: the Neo4J `name` attribute is what will display on the node bubbles.

In [20]:
#12a load courses into Neo4j
# Write to back to Neo4j as nodes with symbol as the key
courses_df.select("_id",
                   "course_name",
                   "course_description",
                   "course_credits"
                 )\
          .write.format("org.neo4j.spark.DataSource")\
          .mode("Overwrite")\
          .option("url", bolt_url) \
          .option("labels", "courses") \
          .option("node.keys","course_name") \
          .save()

cipher_read_ql = '''
MATCH (c:courses) return c
'''
#RETURN c.code, c.level, t.semester, f.name, f.title
q12a_read_programs = spark.read.format("org.neo4j.spark.DataSource") \
                          .option("url", bolt_url) \
                          .option("query",cipher_read_ql) \
                          .load()
q12a_read_programs.printSchema()
q12a_read_programs.show(5)
q12a_read_programs.count()

root
 |-- c: struct (nullable = true)
 |    |-- <id>: long (nullable = false)
 |    |-- <labels>: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- course_name: string (nullable = true)
 |    |-- course_credits: long (nullable = true)
 |    |-- course_description: string (nullable = true)
 |    |-- _id: string (nullable = true)

+--------------------+
|                   c|
+--------------------+
|{3, [courses], Cl...|
|{4, [courses], In...|
|{5, [courses], In...|
|{6, [courses], Ap...|
|{7, [courses], Bi...|
+--------------------+
only showing top 5 rows

9

In [21]:
#12b load programs into neo4j
# Write to back to Neo4j as nodes with symbol as the key
programs_df.select("_id",
                   "program_name",
                   "type",
                   "program_credits",
                  )\
          .write.format("org.neo4j.spark.DataSource")\
          .mode("Overwrite")\
          .option("url", bolt_url) \
          .option("labels", "programs") \
          .option("node.keys","program_name") \
          .save()

cipher_read_ql = '''
MATCH (p:programs) return p
'''
#RETURN c.code, c.level, t.semester, f.name, f.title
q12b_read_programs = spark.read.format("org.neo4j.spark.DataSource") \
                          .option("url", bolt_url) \
                          .option("query",cipher_read_ql) \
                          .load()
q12b_read_programs.printSchema()
q12b_read_programs.show(5)
q12b_read_programs.count()

root
 |-- p: struct (nullable = true)
 |    |-- <id>: long (nullable = false)
 |    |-- <labels>: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- program_name: string (nullable = true)
 |    |-- type: string (nullable = true)
 |    |-- program_credits: long (nullable = true)
 |    |-- _id: string (nullable = true)

+--------------------+
|                   p|
+--------------------+
|{8, [programs], I...|
|{9, [programs], D...|
|{10, [programs], ...|
|{11, [programs], ...|
|{12, [programs], ...|
+--------------------+

5

### Question 13

Load the `requirements` and `electives` data into `neo4j` as relationships to the nodes you created in Question 12. Use the `program` data to form the `required` and `elective` course relationships. Demonstrate the relationships in `neo4j` are present by querying back it using one or more Cypher queries.

In [22]:
#13a program course requirements
# Selecting program_code, elective_courses, and required_courses columns from programs_df
q13_programs_df = programs_df.select("program_code","elective_courses","required_courses")

# Exploding the required_courses array to get individual required courses
q13a_req_programs_df = q13_programs_df.select("program_code",
                                               explode_outer("required_courses").alias('required_course'))
# Cypher query to create relationships between programs and required courses in Neo4j

cipher_ql = '''
MATCH (p:programs {_id:event.program_code}), (c:courses {_id:event.required_course})
MERGE (p)-[r:Requires{program:event.program_code,course:event.required_course,course_type:"Core"}]->(c)
'''
# Writing the program-course requirements data to Neo4j

q13a_req_programs_df.write.format("org.neo4j.spark.DataSource")\
                    .mode("Overwrite") \
                    .option("url", bolt_url) \
                    .option("query",cipher_ql) \
                    .save()

# Cypher query to read program-course requirements from Neo4j
cipher_read_ql = '''
MATCH (p:programs)-[r:Requires]->(c:courses) return c._id as course_id,c.course_name as course_name,r.course_type as course_type ,p._id as program_code,p.program_name as program_name
'''
# Reading program-course requirements data from Neo4j to verify data is loaded correctly
q13a_read_programs = spark.read.format("org.neo4j.spark.DataSource") \
                          .option("url", bolt_url) \
                          .option("query",cipher_read_ql) \
                          .load()
q13a_read_programs.printSchema()
q13a_read_programs.show(5)
q13a_read_programs.count()

root
 |-- course_id: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- course_type: string (nullable = true)
 |-- program_code: string (nullable = true)
 |-- program_name: string (nullable = true)

+---------+--------------------+-----------+------------+-------------------+
|course_id|         course_name|course_type|program_code|       program_name|
+---------+--------------------+-----------+------------+-------------------+
|   IST621|Information Manag...|       Core|          IS|Information Systems|
|   IST615|    Cloud Management|       Core|          IS|Information Systems|
|   IST659|Data Administrati...|       Core|          IS|Information Systems|
|   IST718|  Big Data Analytics|       Core|          DS|       Data Science|
|   IST707|Applied Machine L...|       Core|          DS|       Data Science|
+---------+--------------------+-----------+------------+-------------------+
only showing top 5 rows

17

In [23]:
#13b program course electives
q13b_req_programs_df = q13_programs_df.select("program_code",
                                               explode_outer("elective_courses").alias('elective_courses'))
cipher_q2 = '''
MATCH (p:programs {_id:event.program_code}), (c:courses {_id:event.elective_courses})
MERGE (p)-[r:Elective{program:event.program_code,course:event.elective_courses,course_type:"Elective"}]->(c)
'''


q13b_req_programs_df.write.format("org.neo4j.spark.DataSource")\
                    .mode("Overwrite") \
                    .option("url", bolt_url) \
                    .option("query",cipher_q2) \
                    .save()


cipher_read_q2 = '''
MATCH (p:programs)-[r:Elective]->(c:courses) return c._id as course_code,c.course_name as course_name,r.course_type as course_type,p._id as program_code,p.program_name as program_name
'''


q13b_read_programs = spark.read.format("org.neo4j.spark.DataSource") \
                          .option("url", bolt_url) \
                          .option("query",cipher_read_q2) \
                          .load()
q13b_read_programs.printSchema()
q13b_read_programs.show(5)
q13b_read_programs.count()

root
 |-- course_code: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- course_type: string (nullable = true)
 |-- program_code: string (nullable = true)
 |-- program_name: string (nullable = true)

+-----------+--------------------+-----------+------------+-------------------+
|course_code|         course_name|course_type|program_code|       program_name|
+-----------+--------------------+-----------+------------+-------------------+
|     IST707|Applied Machine L...|   Elective|          IS|Information Systems|
|     IST769|Advanced Big Data...|   Elective|          DS|       Data Science|
|     IST714|  Cloud Architecture|   Elective|          DS|       Data Science|
|     IST722|    Data Warehousing|   Elective|          IS|Information Systems|
|     IST714|  Cloud Architecture|   Elective|          IS|Information Systems|
+-----------+--------------------+-----------+------------+-------------------+
only showing top 5 rows

6

### Question 14

Load the `prerequisites` into `neo4j` as relationships to the `course` nodes you created in Question 12. Demonstrate the relationships in `neo4j` are present by querying back it using one or more Cypher queries.

In [24]:
#14 course prerequisites 
q14_pre_req_courses = courses_df.select("course_code",
                                        explode_outer("prerequisites").alias("prerequisites"))
#q14_pre_req_courses.filter(q14_pre_req_courses.prerequisites.isNotNull()).show()

cipher_q3 = '''
MATCH (c:courses{_id:event.course_code}), (pc:courses{_id:event.prerequisites})
MERGE (c)-[pr:Requires_Prequisites{course:event.course_code,prequisitescourse:event.prerequisites,course_type:"Prequisites"}]->(pc)
'''
# q14_pre_req_courses.show()
q14_pre_req_courses.write.format("org.neo4j.spark.DataSource")\
                    .mode("Overwrite") \
                    .option("url", bolt_url) \
                    .option("query",cipher_q3) \
                    .save()

cipher_read_q4 = '''
MATCH (c:courses)-[pr:Requires_Prequisites]->(pc:courses) return c._id,c.course_name,pr.course_type,pc._id,pc.course_name
'''

q14_read_programs = spark.read.format("org.neo4j.spark.DataSource") \
                          .option("url", bolt_url) \
                          .option("query",cipher_read_q4) \
                          .load()
q14_read_programs.printSchema()
q14_read_programs.show(10)
q14_read_programs.count()

root
 |-- c._id: string (nullable = true)
 |-- c.course_name: string (nullable = true)
 |-- pr.course_type: string (nullable = true)
 |-- pc._id: string (nullable = true)
 |-- pc.course_name: string (nullable = true)

+------+--------------------+--------------+------+--------------------+
| c._id|       c.course_name|pr.course_type|pc._id|      pc.course_name|
+------+--------------------+--------------+------+--------------------+
|IST722|    Data Warehousing|   Prequisites|IST659|Data Administrati...|
|IST769|Advanced Big Data...|   Prequisites|IST659|Data Administrati...|
|IST714|  Cloud Architecture|   Prequisites|IST615|    Cloud Management|
|IST707|Applied Machine L...|   Prequisites|IST687|Introduction to D...|
|IST718|  Big Data Analytics|   Prequisites|IST687|Introduction to D...|
+------+--------------------+--------------+------+--------------------+

5

### Question 15

Write a Cypher query to display courses which are required by both the `IS` and `DS` programs.

In [25]:
#15 Cypher query courses required in DS and IS
cipher_read_q5 = '''
MATCH (p:programs{_id:'DS'})-[r:Requires]->(c:courses)<-[r1:Requires]-(p1:programs{_id:'IS'}) 
return c._id as course_id,c.course_name as course_name,c.course_credits as course_credits,c.course_description as course_description
'''

q14_read_programs = spark.read.format("org.neo4j.spark.DataSource") \
                          .option("url", bolt_url) \
                          .option("query",cipher_read_q5) \
                          .load()
q14_read_programs.printSchema()
q14_read_programs.show(5)
q14_read_programs.count()

root
 |-- course_id: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- course_credits: long (nullable = true)
 |-- course_description: string (nullable = true)

+---------+--------------------+--------------+--------------------+
|course_id|         course_name|course_credits|  course_description|
+---------+--------------------+--------------+--------------------+
|   IST615|    Cloud Management|             3|Cloud services cr...|
|   IST659|Data Administrati...|             3|Definition, devel...|
+---------+--------------------+--------------+--------------------+

2

### Question 16

Write a Cypher query to retrieve the `course code`, `course title`, and the count of programs the course is a requirement in. Write as a Cypher query but retrieve the  output as a Spark Dataframe.

In [26]:
#16 Cypher to spark table
cipher_read_q6 = '''
MATCH (p:programs)-[r:Requires]->(c:courses) return c._id as course_code,c.course_name as course_name,COUNT(p._id) as count
'''

q16_read_programs = spark.read.format("org.neo4j.spark.DataSource") \
                          .option("url", bolt_url) \
                          .option("query",cipher_read_q6) \
                          .load()
q16_read_programs.printSchema()
q16_read_programs.show(10)
q16_read_programs.count()

root
 |-- course_code: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- count: long (nullable = true)

+-----------+--------------------+-----+
|course_code|         course_name|count|
+-----------+--------------------+-----+
|     IST621|Information Manag...|    2|
|     IST615|    Cloud Management|    3|
|     IST659|Data Administrati...|    3|
|     IST718|  Big Data Analytics|    2|
|     IST707|Applied Machine L...|    2|
|     IST687|Introduction to D...|    2|
|     IST722|    Data Warehousing|    1|
|     IST769|Advanced Big Data...|    1|
|     IST714|  Cloud Architecture|    1|
+-----------+--------------------+-----+

9

### Questions 17,18,19 and 20

These are not spark questions as they use kibana.